:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: black;
  background: rgb(246,244,244);
  background: linear-gradient(153deg, rgba(246,244,244,1) 0%, rgba(255,255,255,1) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,body{
  width: 100vw;
  height: 100vh;
  padding:0;
  margin:0;
}
#nav{
  text-align: center;
}

#app{
  max-width: 1280px;
  height:100%;
  margin: 0 auto;
}

.page{
  margin: 0 24rem;
}

.page-lg{
  display:grid;
  place-items: center;
}

.spacing-sm{
  margin:1rem 0;
}

.spacing-md{
  margin:2rem 0;
}

.spacing-lg{
  margin:4rem 0;
}
.outlined{
  outline: 1px solid gray;
  border-radius:2px;
  padding:1rem;
}

.space-between{
  display:flex;
  justify-content: space-between;
}

.max-width{
  max-width:20rem;
}

.flex-row{
  display:flex;
  justify-content: space-between;
}

.remove-button-styling{
  all: unset;
  cursor: pointer;
}